    body {
      text-align: center;
      background: url("http://andrewhooge.github.io/Assets/running-onsand.jpg");
      background-size: cover;
      background-position: relative;
      color: white;
      font-family: helvetica;
		}
	h1 {
		font-family: 'Copperplate Gothic Bold';
		text-align: left;
		font-size: 100px;
		color: #aaaaaa;
		margin: auto;
}
    p {
	  font-style: arial;
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
	}
    input[type="submit"] {
      background: red;
      color: white;
    }