    body {
      text-align: center;
      background: url("http://andrewhooge.github.io/Assets/running-onsand.jpg");
      background-size: cover;
      background-position: 0 auto;
	  border-radius: 40px;
      color: white;
      font-family: helvetica;
		}
	h1 {
		font-family: 'Copperplate Gothic Bold';
		text-align: left;
		font-size: 100px;
		color: #aaaaaa;
		margin: auto;
	div {
		height: 200px;
		background-size: 300px;
		position: relative;
		margin: 40px 0 0 0;
		border-radius: 12px;
}
    p {
	  font-style: arial bold;
      font-size: 22px;
.andrew {
	  background-image: url("http://andrewhooge.github.io/Assets/andrew_head_wall.jpg");
	  position: relative;
	  margin: 100px 0 0 0;
	}

    }
	input {
      border: 0;
      padding: 10px;
      font-size: 18px;
	}
    input[type="submit"] {
      background: red;
      color: white;
    }